# IDE specific
/.idea/

# Config file
config.toml

# Resource files
/resources/*
!/resources/
!/resources/slapper/
!/resources/servers/
!/resources/locales/
!/resources/world/
/resources/world/db/LOG
/resources/world/db/LOCK
/resources/world/db/*.log
/resources/world/db/CURRENT.bak

# Testing resources
/tests/

# Binaries
*.exe
pokebedrock-hub